---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import PostCard from "@components/CommonCard.astro";
import { getTagMetadata } from "@consts";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.flatMap((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag),
    );
    filteredPosts.sort(
      (a, b) =>
        new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
    );

    return {
      params: { tag },
      props: {
        page: {
          data: filteredPosts,
        },
      },
    };
  });
}

const params = Astro.params;
const { page } = Astro.props;
const { title, description } = getTagMetadata(params.tag);
---

<BaseLayout title={title} description={description}>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    {page.data.map((post) => <PostCard post={post} />)}
  </div>
</BaseLayout>
